:focus {
    outline: none !important;
}

.header_logo {
    justify-content: left;
    width: auto;
    height: 100px;
    margin-left: 40px;
    margin-right: 10px;
}

.menu_list {
    margin-right: 40px;
    list-style: none;
    display: inline-flex;
    justify-content: right;
    align-items: center;
}

.nav_button {
    text-decoration: none;
    border: none;
    box-shadow: none;
    margin: 10px 5px;
    padding: 10px;
    font-size: 20px;
    font-family: Futura,Arial, sans-serif;
    outline: none;
    transition: background-color 0.2s;
    color: var(--dark-gray);
    background-color: transparent;
    cursor: pointer;
}

.nav_button_burger{
    text-decoration: none;
    color: var(--dark-gray);
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 0;
    font-size: 7vw;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
}
.nav_button_burger:first-child{
    margin-top: 15vh;
}

.nav_button:hover {
    color: #000;
}

.is-logged-in {
    transition: background-color 0.3s;
}

.is-not-logged-in {
    transition: background-color 0.3s;
}

.is-logged-in:hover {

    color:var(--rubato-red);
}

.is-not-logged-in:hover{

    color: var(--rubato-blue);
}

.sm_icon {
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

/* Position and sizing of burger button */
.burgerIconNormal {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 8vw;
    top: 36px;
}
.burgerIconHidden{
    opacity: 0;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: var(--dark-gray);
}

/* Position and sizing of clickable cross button */
.burgerCrossIcon {
    min-width: 50px;
    min-height: 50px;
    padding: 20px;
    opacity: 0.85;
    margin-top: -50px;
}

/* Color/shape of close button cross */


.burgerMenu{
    margin-top: -50px;
    opacity: 0.9;
    background-color: #fff;
    overflow: hidden;

}
.bm-menu-wrap{
    height: 100vh;
    position: absolute;
}
.burgerItem{
    margin-top: -120px;
    padding-top: 120px;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}
.bmOverlay{
    overflow: hidden;
}

@media only screen and (max-width: 780px) {
    .header_logo{
        height: 13vw;
    }
    .button_login{
        background-color: transparent;
        transition: background-color 0.3s;
    }

}
@media only screen and (max-width: 400px) {
    .header_logo{
        height: 11vw;
        transition: 0.1s;
    }

}