#about-page {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#about-image {
    justify-content: left;
}

#about-content {
    justify-content: right;
    width: 400px;
}

#about-text > p:not(a) {
    margin-top: 10px;
    margin-bottom: 25px;
    color: #111;
    opacity: 0.8;
    font-size: 18px;
}

#about-header {
    font-size: 3em;
}