@font-face {
    font-family: 'Futura-font';
    font-style: italic;
    src:local('Futura'), url('/src/res/fonts/futura.ttf') format('truetype');
}

.aboutPage {
    display: grid;
    grid-template-areas:    'about-image    about-content'
                            'employees      employees';
    justify-content: space-evenly;
    font-family: Futura-font,Futura,Roboto, Arial, Helvetica, serif;
    margin: 50px 8vw 0 8vw ;
}

.aboutImage {
    grid-area: about-image;
    height: 100%;
    width: 40vw;
    object-fit: cover;
}

.aboutContent {
    margin-left: 2vw;
    width: 40vw;
    grid-area: about-content;
}

.aboutHeader {
    font-size: 5vh;
}

.aboutText{
    font-size: 2.5vh;
    color: var(--dark-gray);
}

.aboutParagraph{
    width: 100%;
}

.aboutEmployees {
    grid-area: employees;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 84vw;

}

.aboutEmail{
    color: var(--rubato-blue);
}

@media only screen and (max-width: 1000px) {
    .aboutPage {
        grid-template-areas: 'about-image' 'about-content' 'employees';
        justify-content: space-between;
    }
    .aboutImage{
        width: 80vw;
        height: 30vh;
    }
    .aboutContent{
        margin-top: 30px;
        width: 80vw;
    }
    .aboutParagraph{
        width: 100%;
    }
    .aboutEmployees{
        flex-direction: column;

    }
    .aboutHeader{

    }

}

