@font-face {
    font-family: 'Futura-font';
    font-style: italic;
    src:local('Futura'), url('/src/res/fonts/futura.ttf') format('truetype');
}

.artistPreviewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 19vw;
    width: 19vw;
    position: relative;

}

.artistInfoContainer{
    height: 19vw;
    width: 100%;
    opacity: 0;
    cursor: pointer;

}
.artistHover{
    opacity: 1;
    transition: 0.5s;
}
.artistText{
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: #fff;
    z-index: 15;
    font-family: Futura-font,Roboto, Arial, serif;
    padding-right: 10px;

}

.artistName{
    font-weight: bold;
    font-size: 2vw;
}

.artistInfo{
    font-size: 1vw;
}

.shadowGradient{
    position: absolute;
    bottom: 0;
}

.artistPreviewContainer .artistImage {
    max-height: 100%;
    max-width: 100%;
    height: 19vw;
    width: 19vw;
    margin-top: -19vw;
    object-fit: cover;
}


@media only screen and (max-width: 1000px) {
    .artistPreviewContainer{
        display: flex;
        height: 40vw;
        width: 40vw;
    }

    .artistName{
        font-size: 5vw;
    }

    .artistInfo{
        font-size: 3vw;
    }

    .artistPreviewContainer .artistImage{
        height: 40vw;
        width: 40vw;
    }
}

@media only screen and (max-width: 780px) {
    .artistText{
        left: 15px;
        bottom:10px;
    }

}