
.artistPreviewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 19vw;
    width: 19vw;
    position: relative;
    font-family: Futura, Arial, sans-serif;
}

.artistInfoContainer{
    height: 19vw;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.artistInfoContainer:hover{
    opacity: 1;
    transition: 0.5s;
}
.artistText{
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: #fff;
    z-index: 15;
    font-size: 1em;
}

.shadowGradient{
    position: absolute;
    bottom: 0;
}

.artistImage{
    max-height: 100%;
    max-width: 100%;
    height: 19vw;
    width: 19vw;
    margin-top: -19vw;
    z-index: 5;
    object-fit: cover;
}
.artistName{
    font-weight: bold;
    font-size: 1.5em;
}

@media only screen and (max-width: 780px) {
    .artistPreviewContainer{
        display: flex;
        height: 40vw;
        width: 40vw;
    }
    .artistImage{
        height: 40vw;
        width: 40vw;
    }
}