.instaContainer{
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: "instaImage instaImage instaImage instaImage";
}
.instaImage {
    grid-area: instaImage;
    height: 20vw;
    width: 20vw;
    object-fit: cover;
    margin-bottom: 0;
}

@media only screen and (max-width: 599px) {
    .instaImage {
        height: 45vw;
        width: 45vw;
        margin-bottom: 0;
    }
}