#employee-picture {
    border-radius: 100%;
    border: 10px #f4f4f4 solid;
    height: 200px;
    width: 200px;
    background-position: top;
    object-fit: cover;
    transition: 0.5s ease;
}

#employee-picture:hover {
    transition: 0.5s ease;
    border: 10px #e3e3e3 solid;
}

.employee-card {
    margin: 0 auto;
    text-align: center;
}

.employee-header {
    color: #666666;
}

.employee-title {
    color: #a2a5a4;
}

.employee-email > img {
    width: 25px;
    height: 25px;
}

.employee > * {
    margin: 0px;
}