.loginContainer {
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-areas:
            'login register';
    justify-content: center;
    grid-column-gap: 10vw;
    margin-top: 10vh;
}

.login, .register {
    margin: 10px 0;
    width: 30vw;
}

.standard_input {
    margin-bottom: 50px;
    width: 30vw;
    font-size: 1.5em;
    background-color: inherit;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid var(--dark-gray);
}

.login_submit{
    cursor: pointer;
    text-decoration: none;
    border: none;
    box-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30vw;
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    background-color: var(--rubato-red);
    color: #fff;
}

.register_submit {
    composes: login_submit;
    background-color: var(--rubato-blue);
}

.user_type {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.user_type__choice {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    transition: background-color ease 0.3s;
}


.user_type__selected {
    composes: user_type__choice;
    background-color: var(--light-gray);
}

.label_content {
    color: white;
    font-size: 1.5em;
    margin: 0;
    user-select: none;
}

.label_content_selected {
    composes: label_content;
    color: var(--light-gray);
}

@media only screen and (max-width: 780px) {
    .loginContainer {
        display: grid;
        grid-template-areas:
                'login'
                'register';
        grid-row-gap: 10vh;
        justify-content: space-between;
        margin-left: 10vw;
        margin-bottom: 50vh;
    }

    .standard_input{
        font-size: 2em;
        width: 80vw;
    }

    .login_submit{
        width: 80vw;
        margin-left: 0;
        font-size: 2em;
    }

    .user_type {
        width: 80vw;
    }
}