#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#header_logo {
    justify-content: left;
    width: 20%;
    height: auto;
    margin-left: 40px;
}

#menu_list {
    margin-right: 40px;
    list-style: none;
    display: inline-flex;
    justify-content: right;
    align-items: center;
}

#menu_item > a {
    display: inline-flex;
    color: grey;
    text-decoration: none;
    margin: 10px;
}

#menu_item > a:hover  {
    color: black;
}


