.footerContainer{
    padding-top: 20px;
    margin-top: 70px;
    width: 100%;
    background-color: var(--rubato-yellow);
}

.footerContent{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footerLogo{
    height: 10vh;
    margin-bottom: 20px;
}

.menuList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-bottom: 30px;
}

.socialContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.socialIcon{
    width: 30px;
    height: 30px;
    margin: 0 15px;
    fill: var(--dark-gray);
}

.navButton {
    text-decoration: none;
    border: none;
    box-shadow: none;
    margin: 10px 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em;
    font-family: Futura-font,Roboto,Arial, sans-serif;
    outline: none;
    transition: background-color 0.2s;
    color: var(--dark-gray);
    background-color: transparent;
    cursor: pointer;
}

.navButton:hover {
    color: #000;
}

@media only screen and (max-width: 780px) {
    .footerLogo{
        height: 20vw;
    }
    .menuList{
        font-size: 4vw;
        margin-bottom: 30px;
        padding: 0;
    }
}