.contentContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    justify-items: center;
    justify-content: center;
}

.artistGrid{
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 8vw;
    margin-right: 8vw;
    display: grid;
    width: 100%;
    gap: 2vw;
    grid-template-columns: repeat(auto-fill, 19vw);
}

@media only screen and (max-width: 1000px) {
    .artistGrid{
        margin-top: 2vw;
        margin-bottom: 2vw;
        display: grid;
        width: 84vw;
        gap: 2vw;
        grid-template-columns: repeat(auto-fill, 40vw);
    }
}