.mainContainer {
  height: 100%;
  display: grid;
  grid-template-areas: 'header ' 'contentContainer' 'footer';

}

.header {
  grid-area: header;
}

.contentContainer{
  grid-area: contentContainer;
}

.footer{
  grid-area: footer;
}

/*
  DEFAULT COLORS

  example in use:

  .className{
  color: var(--dark-gray)
  }
*/
:root{
  --dark-gray:#737373;
  --light-gray:#a2a5a4;
  --rubato-blue:#3690ff;
  --rubato-red: #ff4136;
  --rubato-yellow:#ffe436;
}
