.mainContainer {
  height: 100%;
  display: grid;
  grid-template-areas: 'header ' 'contentContainer';
}

.header {
  grid-area: header;
}

.contentContainer{
  grid-area: contentContainer;
}

/*
  DEFAULT COLORS


  example in use:

  .className{
  color: var(--dark-gray)
  }
*/
:root{
  --dark-gray:#737373;
  --rubato-blue:#3690ff;
  --rubato-red: #ff4136;
}
