:focus {
    outline: none !important;
}

.headerContainer {
    display: flex;
    height: 100px;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    justify-content: left;
    width: auto;
    height: 100px;
    margin-left: 40px;
    margin-right: 10px;
}

@media only screen and (max-width: 780px) {
    .headerLogo{
        height: 13vw;
    }
}

@media only screen and (max-width: 400px) {
    .headerLogo{
        height: 11vw;
        transition: 0.1s;
    }
}
