@font-face {
    font-family: 'Futura-font';
    font-style: italic;
    src:local('Futura'), url('/src/res/fonts/futura.ttf') format('truetype');
}

.headerContainer {
    display: flex;
    height: 100px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}


#header_logo {
    justify-content: left;
    width: 60%;
    height: inherit;
    margin-left: 40px;
}

#menu_list {
    margin-right: 40px;
    list-style: none;
    display: inline-flex;
    justify-content: right;
    align-items: center;
}

.nav_button {
    background-color: #e3e3e3;
    border: none;
    box-shadow: none;
    margin: 10px 5px;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    outline: none;
    transition: background-color 0.5s
}

.nav_button:hover {
    background-color: black;
    color: white;
}

.nav_button:active {
    border-bottom: black;
}

.sm_icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}







